* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: palevioletred;
}

.container {
    max-width: 350px;
    padding: 40px 30px;
    background: #ca5d2e;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #f3c5b6;
}

input[type="text"] {
    text-align: end;
    width: 100%;
    margin: 20px 0;
    font-size: 40px;
    font-size: 2rem;
    cursor: text;
    outline: none;
}

button {
    margin: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
 
}